{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-2 bg-dark sidebar vh-100">
    <div class="sidebar-sticky text-white py-3">
      <h5 class="px-3">Меню</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="{% url 'warehouse:dashboard' %}" class="nav-link text-white">Омборхона</a>
        </li>
       
      </ul>
    </div>
  </div>
  <div class="col-md-10">
    <h2 class="mt-3">Асосий кўрсаткичлар (Global Dashboard)</h2>
  </div>
</div>
{% endblock content %}
